# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flask stuff
instance/
.env
.env.*
*.env

# Environment folders
venv/
env/
ENV/
.venv/
.ENV/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Database files (optional)
*.sqlite3
*.db

# Compiled files
*.so

# Pytest cache
.pytest_cache/

# Flask cache
*.cache

# Static cache
/static/*/cache/

# Ignore config backups
config.py.bak
